@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    padding: 0 10px;
    min-height: 100vh;
    background: #5E63BA;
}
/*Font Class*/
/*Start*/
.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.bungee-regular-title{
    color: white;
    font-family: "Bungee", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.bungee-regular-normal{
    color: white;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.text-shadow{
    text-shadow: 2px 2px #2f3542, 4px 4px #57606f, 6px 6px #2f3542;
}
.text-light{
    text-shadow: 0 0 5px #5E63BA, 0 0 10px #5E63BA, 0 0 20px #5E63BA, 0 0 40px #5E63BA;
}
@keyframes flicker {
    0% { opacity: 1; }
    50% { opacity: 0.75; }
    100% { opacity: 1;}
}
.text-action{
    animation: flicker 1s infinite;
}
/*End*/
.container-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 100vh;
    width: 80vw;
}
.list-core{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    min-height: 100vh;
    padding: 0;
}
.table{
    background: transparent;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.table thead{
    background-color: white;
    color: #5E63BA;
}
.table tbody tr:nth-child(even){
    color: white;
    background-color: #5E63BA;
    transition: all 1ms ease-in-out;

}
.table tbody tr:nth-child(odd) {
    color: white;
    background-color: #6A5EBAFF;
    transition: all 1ms ease-in-out;
}
.table th, td{
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}
.table th {
    border-bottom: 2px solid #ff4757;
    transition: all 0.1s ease-in-out;
}
.table td {
    border-bottom: 1px solid #3a3a3a;
}
.table tbody tr{
}
.table tbody tr:hover{
    transform: scale(1.05);
}
.table tr:hover {
    background-color: #ff6348; cursor: pointer;
}
@media (max-width: 768px) {
    .table {
        font-size: 0.8rem;
    }
}
.container-info{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
#title, h5 {
    font-size: 40px;
    color: white;
    margin-bottom: 1rem;
    cursor: pointer;
}

.red {
    animation: rainbow-blink 0.7s infinite; 
}

@keyframes rainbow-blink {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; } 
}

.container {
    width: 80%;
    background: #fff;
    display: flex;
    gap: 70px;
    align-items: flex-end;
    padding: 60px 40px;
    border-radius: 10px;
}

.hangman-box img {
     max-width: 270px;
}

.hangman-box h1 {
    color: #5E63BA;
    font-size: 1.4rem;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.word-display {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    list-style: none;
    align-items: center; 
    justify-content: center;
}

.word-display .letter { 
    width: 28px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;  
    margin-bottom: 40px;
    border-bottom: 3px solid #000;

}


.word-display .letter.guessed {
    border-color: transparent;
    margin: -40px 0 35px;
}

.game-box h4 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.game-box h4 b {
    font-weight: 600;
    color: #5E63BA;
}

.game-box .guesses b {
    color: #ff0000;
}

.game-box .keyboard {
    display: flex;
    gap: 5px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

:where(.game-modal, .keyboard) button {

    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
    background: #5E63BA;
    border-radius: 4px;
    text-transform: uppercase;
   
}

.keyboard button {
    padding: 7px;
    width: calc(100% / 9 - 5px);
}
.keyboard button[disabled]{
    opacity: 0.6;
    pointer-events: none;
}

:where(.game-modal, .keyboard) button:hover {
    background: #8286c9;
    transform: scale(0.9);
    transition: transform 0.3s ease-in-out;
}

.game-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 0.4s ease;
}
.game-modal.show{
    opacity: 1;
    pointer-events: auto;
}
.game-modal .content {
    background: #fff;
    max-width: 420px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
}

.game-modal img {
    max-width: 130px;
    margin-bottom: 20px;
}

.game-modal h4 {
    font-size: 1.53rem;
}

.game-modal p {
    font-size: 1.15rem;
    margin: 15px 0 30px;
    font-weight: 500;
}

.game-modal p b {
    color: #5E63BA;
    font-weight: 600;
}

.game-modal button {
    padding: 12px 23px;

}
.btn-result{
    position: fixed;
    top: 0;
    right: 0;
    background: #5E63BA;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: 20px;
}
.btn-result:hover{
    background: #8286c9;
    color: white;
}
@media(max-width: 728px) {
    .container {
        flex-direction: column;
        padding: 30px 15px;
        align-items: center;
    }

    .hangman-box img {
        max-width: 200px;
    }

    .hangman-box h1 {
        display: none;
    }
}
/*Modal Effect*/
.btn-closed{
    font-weight: bold;
    border: none;
    background: transparent;
}
@keyframes borderWave {
    0% { border-radius: 10% 10% 20% 20% / 10% 10% 20% 20%; }
    25% { border-radius: 10% 10% 15% 15% / 15% 15% 10% 20%; }
    50% { border-radius: 10% 10% 15% 15% / 10% 10% 15% 15%; }
    75% { border-radius: 10% 10% 15% 20% / 10% 10% 20% 20%; }
    100% { border-radius: 10% 10% 20% 20% / 10% 10% 20% 20%; }
}
.modal-content{
    animation: borderWave 10s infinite;
}